@import "tailwindcss";

/* body prend 100% de l'écran et on cache la barre de scroll native.
   C'est le composant ScrollControls de 3D qui va gérer le scroll virtuel ! */
   html,
   body,
   #root,
   main {
     width: 100%;
     height: 100%;
     margin: 0;
     padding: 0;
     background-color: #050505; /* Un fond noir spatial */
     overflow: hidden; 
   }